:root{
    --neutral-1000: #100F0E;
    --neutral-900: #221F1E;
    --neutral-800: #342F2E;
    --neutral-700: #46403E;
    --neutral-600: #6A615E;
    --neutral-500: #A59D9A;
    --neutral-400: #C5C0BE;
    --neutral-300: #D5D1D0;
    --neutral-200: #E5E3E2;
    --neutral-100: #F5F5F5;

    --primary-100: #571909;
    --primary-200: #76210C;
    --primary-300: #952A0F;
    --primary-400: #B43312;
    --primary-500: #EA5631;
    --primary-600: #F0896F;
    --primary-700: #F3B28E;
    --primary-800: #F7CBAC;
    --primary-900: #FAE4CB;
    --primary-1000: #FDF8EA;

    --success-default: #02864A;
    --success-hover: #027541;
    --success-active: #016538;

    --warning-default: #F19100;
    --warning-hover: #E08700;
    --warning-active: #CF7D00;

    --danger-default: #EF3900;
    --danger-hover: #DE3500;
    --danger-active: #CD3100;

    --background-light: #ffffff;
    --background-dark: #000000;


    --border-radius: 15px;


    --font-family: 'Archivo', sans-serif;
    --body-line-height: 140%;
    --heading-line-height: 120%;
    --button-label-line-height: 100%;
    --text-letter-spacing: 0px;
    --text-paragraph-spacing: 0px;
    --text-deco: none;
    --text-case: none;

    --body-text-small-weight: 400;
    --body-text-small-size: 12px;
    
    --body-text-regular-weight: 400;
    --body-text-regular-size: 16px;

    --body-text-big-weight: 400;
    --body-text-big-size: 20px;

    --body-text-semibold-weight: 600;
    --body-text-semibold-size: 16px;

    --heading-h1-weight: 700;
    --heading-h1-size: 24px;

    --heading-h2-weight: 600;
    --heading-h2-size: 20px;

    --heading-h3-weight: 600;
    --heading-h3-size: 18px;

    --heading-h4-weight: 600;
    --heading-h4-size: 16px;

    --button-regular-weight: 600;
    --button-regular-size: 16px;

    --button-bold-weight: 700;
    --button-bold-size: 16px;


    --label-large-weight: 500;
    --label-large-size: 14px;

    --label-small-weight: 500;
    --label-small-size: 12px;
}

body{
    background-color: var(--neutral-100);
}
h1{
    font-family: var(--font-family);
    font-weight: var(--heading-h1-weight);
    font-size: var(--heading-h1-size);
    line-height: var(--heading-line-height);
    letter-spacing: var(--text-letter-spacing);
    text-decoration: var(--text-deco);
    text-transform: var(--text-case);
    color: var(--neutral-1000);
}
h2{
    font-family: var(--font-family);
    font-weight: var(--heading-h2-weight);
    font-size: var(--heading-h2-size);
    line-height: var(--heading-line-height);
    letter-spacing: var(--text-letter-spacing);
    text-decoration: var(--text-deco);
    text-transform: var(--text-case);
    color: var(--neutral-1000);
}
h3{
    font-family: var(--font-family);
    font-weight: var(--heading-h3-weight);
    font-size: var(--heading-h3-size);
    line-height: var(--heading-line-height);
    letter-spacing: var(--text-letter-spacing);
    text-decoration: var(--text-deco);
    text-transform: var(--text-case);
    color: var(--neutral-1000);
}
h4{
    font-family: var(--font-family);
    font-weight: var(--heading-h4-weight);
    font-size: var(--heading-h4-size);
    line-height: var(--heading-line-height);
    letter-spacing: var(--text-letter-spacing);
    text-decoration: var(--text-deco);
    text-transform: var(--text-case);
    color: var(--neutral-1000);
}
button{
    font-family: var(--font-family);
    font-weight: var(--button-regular-weight);
    font-size: var(--button-regular-size);
    line-height: var(--button-label-line-height);
    letter-spacing: var(--text-letter-spacing);
    text-decoration: var(--text-deco);
    text-transform: var(--text-case);
    color: var(--neutral-100);
    background-color: var(--primary-500);
    border-radius: var(--border-radius);
    width: 342px;
    height: 60px;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: var(--primary-600);
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0px 0px 110px;

}

.demo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 50px;
    gap: 50px;
}
.demo-container__canvas{

}
.demo-container__labels{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 300px;
    /* margin-bottom: 50px; */
    background-color: var(--neutral-500);
}